.welcome-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  margin-top: 100px;
}

.welcome-section__original-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 99vw;
  height: 100%;
  flex-wrap: wrap;
}

.welcome-section__original-container--image {
  max-width: 740px;
  height: 100%;
  margin-bottom: 30px;
  margin: 0 10px;
}

.welcome-section__original-container--image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.welcome-section__container-text {
  max-width: 700px;
  margin: 0 10px;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  line-height: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  font-size: var(--sizeNormalText);
  font-family: var(--fontText);
}

.welcome-section__alternative-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.welcome-section__container-divs {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;

}

.welcome-section__container-divs img {
  width: 100%;
}

.welcome-section__first-div,
.welcome-section__second-div,
.welcome-section__third-div {
  max-width: 450px;
  margin-bottom: 20px;
  margin-left: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;

}

.stylesAlternative {
  width: 100%;
}

.stylesOriginal {
  width: 100%;
}
