.header__infoAndIcon {
  width: 70vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__logo {
  margin-left: 15px;
  width: 100px;
  height: 100px;
}

.header__logo img {
  object-fit: cover;
  width: 100px;
  height: 100px;
}

header {
  top: 0%;
  position: fixed;
  z-index: 6;
  width: 100%;
  background-color: var(--primaryColor);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__icon,
.menu {
  margin-left: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__info--phone,
.header__info--location {
  margin: 0 10px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__icon {
  text-align: center;
  position: relative;
  height: auto;
  transition: 0.5s;
  overflow: hidden;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  margin: 0;
  padding: 0;
  display: none;
  width: 0;
  height: 0;
  height: 50px;
  overflow: hidden;
  transition: 0.6s;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__icon input:checked~.menu {
  width: 450px;
  height: auto;
}

.menu li {
  margin-left: 0 20px;
  list-style: none;
  margin: 0 20px;
}

.menu li a {
  text-decoration: none;
  color: #666;
  transition: 0.6s;
}

.menu li a:hover {
  color: #161919;
}

.header__icon input {
  width: 55px;
  height: 40px;
  cursor: pointer;
  opacity: 0;
}

.header__icon span {
  position: absolute;
  width: 30px;
  height: 4px;
  border-radius: 50px;
  background-color: black;
  pointer-events: none;
  transition: 0.5s;
}

.header__icon input:checked~span {
  left: 4%;
}

.header__icon input:checked~span {
  background-color: var(--secondaryColor);
}

.header__icon span:nth-child(2) {
  transform: translateY(-8px);
}

.header__icon input:checked~span:nth-child(2) {
  transform: translateY(0) rotate(-45deg);
}

.header__icon span:nth-child(3) {
  transform: translateY(8px);
}

.header__icon input:checked~span:nth-child(3) {
  transform: translateY(0) rotate(45deg);
}

h4 {
  font-size: var(--sizeNormalText);
  font-family: var(--fontSubtitles);
}