/* Media query para pantallas grandes */

@media screen and (max-width: 1200px) {
  .header__info {
    flex-wrap: wrap;
  }

  .containerSlider {
    max-height: 70vh;
    min-width: 70vw;
  }

  .welcome-section__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }


  .container-products__filter {
    margin-left: 30px;
  }


  footer {
    flex-wrap: wrap;
  }

  .footer__virtual-contacts {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }


}

/* Media query para portatiles */

@media screen and (max-width: 992px) {
  .container-contact__text-form {
    flex-direction: column;
  }

  .menu {
    flex-wrap: wrap;
    max-height: 150px;
  }

  .containerSlider {
    max-height: 60vh;
    min-width: 80vw;
  }

  .footer__contacts {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .footer__maps {
    min-width: 100%;
    margin-top: 10px;
  }

  .footer__location {
    min-width: 30%;
    flex-direction: row-reverse;
    margin-right: 30px;
  }
}

/* Media query para tablets */

@media screen and (max-width: 768px) {
  .menu {
    flex-wrap: wrap;
    max-height: 180px;
  }

  .containerSlider {
    max-height: 50vh;
    min-width: 90vw;
  }
}

/* Media query para telefonos */

@media screen and (max-width: 576px) {
  .menu {
    flex-wrap: wrap;
    max-height: 260px;
  }

  .containerSlider {
    max-height: 40vh;
    min-width: 100vw;
  }

  .container-products__cards-filter {
    flex-wrap: wrap;
  }


  .container-products__filter {
    margin-left: 0;

  }

  .animation-principal-products h1 {
    font-size: 50px;
  }

}