.containerSlider {
  width: 65vw;
  height: 80vh;
  margin: 200px auto 0;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 1;
  animation: move 1s linear 0s;
}

@keyframes move {
  0% {
    transform: translate(50px, 20px);
    opacity: 0;
  }

  100% {
    transform: translate(0px, 0);
    opacity: 1;
  }
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-dots {
  position: absolute;
  bottom: 10px;
  width: 100%;
  height: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.dot {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin: 0 5px;
  background-color: var(--secondaryColor);
}

.dotActive {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin: 0 5px;
  background-color: var(--primaryColor);
}
